In [2]:
import pandas as pd
data = pd.read_csv('Euro_2012_stats_TEAM.csv')

In [3]:
data.head(10)

,Team,Goals,Shots on target,Shots off target,Shooting Accuracy,% Goals-to-shots,Total shots (inc. Blocked),Hit Woodwork,Penalty goals,Penalties not scored,...,Saves made,Saves-to-shots ratio,Fouls Won,Fouls Conceded,Offsides,Yellow Cards,Red Cards,Subs on,Subs off,Players Used
0,Croatia,4,13,12,51.9%,16.0%,32,0,0,0,...,13,81.3%,41,62,2,9,0,9,9,16
1,Czech Republic,4,13,18,41.9%,12.9%,39,0,0,0,...,9,60.1%,53,73,8,7,0,11,11,19
2,Denmark,4,10,10,50.0%,20.0%,27,1,0,0,...,10,66.7%,25,38,8,4,0,7,7,15
3,England,5,11,18,50.0%,17.2%,40,0,0,0,...,22,88.1%,43,45,6,5,0,11,11,16
4,France,3,22,24,37.9%,6.5%,65,1,0,0,...,6,54.6%,36,51,5,6,0,11,11,19
5,Germany,10,32,32,47.8%,15.6%,80,2,1,0,...,10,62.6%,63,49,12,4,0,15,15,17
6,Greece,5,8,18,30.7%,19.2%,32,1,1,1,...,13,65.1%,67,48,12,9,1,12,12,20
7,Italy,6,34,45,43.0%,7.5%,110,2,0,0,...,20,74.1%,101,89,16,16,0,18,18,19
8,Netherlands,2,12,36,25.0%,4.1%,60,2,0,0,...,12,70.6%,35,30,3,5,0,7,7,15
9,Poland,2,15,23,39.4%,5.2%,48,0,0,0,...,6,66.7%,48,56,3,7,1,7,7,17

In [3]:
data.columns.values.tolist()

['Team',
 'Goals',
 'Shots on target',
 'Shots off target',
 'Shooting Accuracy',
 '% Goals-to-shots',
 'Total shots (inc. Blocked)',
 'Hit Woodwork',
 'Penalty goals',
 'Penalties not scored',
 'Headed goals',
 'Passes',
 'Passes completed',
 'Passing Accuracy',
 'Touches',
 'Crosses',
 'Dribbles',
 'Corners Taken',
 'Tackles',
 'Clearances',
 'Interceptions',
 'Clearances off line',
 'Clean Sheets',
 'Blocks',
 'Goals conceded',
 'Saves made',
 'Saves-to-shots ratio',
 'Fouls Won',
 'Fouls Conceded',
 'Offsides',
 'Yellow Cards',
 'Red Cards',
 'Subs on',
 'Subs off',
 'Players Used']

***Chyzhykova***

In [4]:
'''1
кількість червоних та жовтих карток при спаданню вдалої передачі м'яча,
тобто бачимо, що існує тенденція залежності штрафних карток від високого рівня передачі'''


i = data.loc[:, ['Team','Interceptions','Yellow Cards', 'Red Cards']].sort_values(by = 'Interceptions', ascending = False)
i['Sum Cards']=i['Yellow Cards']+i['Red Cards']
i

                   Team  Interceptions  Yellow Cards  Red Cards  Sum Cards
7                 Italy            136            16          0         16
6                Greece             87             9          1         10
10             Portugal             86            12          0         12
13                Spain             79            11          0         11
3               England             72             5          0          5
5               Germany             69             4          0          4
9                Poland             62             7          1          8
2               Denmark             59             4          0          4
4                France             58             6          0          6
12               Russia             58             6          0          6
0               Croatia             56             9          0          9
14               Sweden             45             7          0          7
11  Republic of Ireland             43             6          1          7
8           Netherlands             41             5          0          5
1        Czech Republic             37             7          0          7
15              Ukraine             29             5          0          5

In [5]:
'''2
команди, котрі зіграли погано відносно голів та попадання повз ціль'''

bad = data.loc[(data['Goals'] < 8 )&(data['Shots off target']>20)]
bad.loc[:,['Team','Goals','Shots off target','% Goals-to-shots', 'Red Cards', 'Yellow Cards']].sort_values(by = 'Goals',ascending = False )

,Team,Goals,Shots off target,% Goals-to-shots,Red Cards,Yellow Cards
7,Italy,6,45,7.5%,0,16
10,Portugal,6,42,9.3%,0,12
12,Russia,5,31,12.5%,0,6
4,France,3,24,6.5%,0,6
8,Netherlands,2,36,4.1%,0,5
9,Poland,2,23,5.2%,1,7
15,Ukraine,2,26,6.0%,0,5

In [17]:
'''3
команди, що забивали не класичні голи, принаймні 1 гол головою наприклад'''

creative_goals = data[data['Headed goals'] != 0].loc[:,['Team','Penalty goals','Headed goals']].sort_values(by = ['Penalty goals','Headed goals'],ascending = False )
creative_goals

                   Team  Penalty goals  Headed goals
5               Germany              1             2
13                Spain              1             2
2               Denmark              0             3
3               England              0             3
0               Croatia              0             2
7                 Italy              0             2
10             Portugal              0             2
15              Ukraine              0             2
9                Poland              0             1
11  Republic of Ireland              0             1
12               Russia              0             1
14               Sweden              0             1

***Khariton***

In [53]:
'''4
Команди що мали точніть ударів більше 45% їх кількість голів,назви,точність ударів в порядку спадання поголам
тобто розуміємо, що висока точність ударів не гарантує високу к-сть голів'''

shots = data[data['Shooting Accuracy'] > (str(45)+'%')][['Team','Goals','Shooting Accuracy']].sort_values('Goals', ascending=False)

shots

       Team  Goals Shooting Accuracy
13    Spain     12             55.9%
5   Germany     10             47.8%
3   England      5             50.0%
14   Sweden      5             47.2%
0   Croatia      4             51.9%
2   Denmark      4             50.0%

In [75]:
'''5
Скільки червоних карток малик команди, що мали більше 10 жовтих карток за порушення відсортовані в порядку спадання
'''

cards = data[data['Yellow Cards'] > 10 ][['Team','Yellow Cards','Red Cards']].sort_values('Yellow Cards', ascending=False)

cards

        Team  Yellow Cards  Red Cards
7      Italy            16          0
10  Portugal            12          0
13     Spain            11          0

In [145]:
'''6
Команди що забили більлше 5голів за чемпіонат 
кількість голів / кількіть точних ударів в ворота / %голів від ударів відсортовано в порядку спадання'''

teams = pd.DataFrame()
teams = data[data['Goals'] > 5 ][['Team','Shots on target','Goals']]
teams['%'] = teams['Goals'] / teams['Shots on target'] * 100
teams.sort_values('%',ascending = False)

teams

        Team  Shots on target  Goals          %
5    Germany               32     10  31.250000
7      Italy               34      6  17.647059
10  Portugal               22      6  27.272727
13     Spain               42     12  28.571429

***Chemerys***

In [32]:
'''7
Яка команда грала краще в обороні? (сухі матчі, блоки, виноси, перехоплення, відбори)'''

protect = data.loc[:,['Team','Clean Sheets','Blocks','Clearances','Interceptions','Tackles']].loc[(data['Clean Sheets']>=1)&(data['Blocks']>11)&(data['Clearances']>=90)&(data['Interceptions']>=70)&(data['Tackles']>=50)].sort_values('Clean Sheets', ascending=False).head(1)
protect

      Team  Clean Sheets  Blocks  Clearances  Interceptions  Tackles
3  England             2      29         106             72       86

***Mucha***

In [4]:
'''8
наскільки залежить вдала гра голкіпера(не пропускаючи) від захисників команди'''

playing_defense = data.loc[:, ['Team', 'Clean Sheets', 'Clearances off line', 'Blocks', 'Interceptions']].sort_values(by = 'Clean Sheets', ascending = False)
playing_defense['the number of successful actions in defense'] = playing_defense['Clearances off line']+playing_defense['Blocks']+playing_defense['Interceptions']
playing_defense

,Team,Clean Sheets,Clearances off line,Blocks,Interceptions,the number of successful actions in defense
13,Spain,5,0.0,8,79,87.0
3,England,2,1.0,29,72,102.0
7,Italy,2,1.0,18,136,155.0
10,Portugal,2,0.0,11,86,97.0
1,Czech Republic,1,2.0,10,37,49.0
2,Denmark,1,0.0,10,59,69.0
4,France,1,0.0,7,58,65.0
5,Germany,1,0.0,11,69,80.0
6,Greece,1,0.0,23,87,110.0
14,Sweden,1,0.0,12,45,57.0
0,Croatia,0,NaN,10,56,NaN
8,Netherlands,0,0.0,9,41,50.0
9,Poland,0,0.0,8,62,70.0
11,Republic of Ireland,0,1.0,23,43,67.0
12,Russia,0,0.0,8,58,66.0
15,Ukraine,0,0.0,4,29,33.0

In [22]:
'''9
топ 5 команд, що найбільше порушували правила, в таблиці, за червона карта, жовта, офсайд, фол'''

the_biggest_offenders = pd.DataFrame()
the_biggest_offenders = data.loc[:,['Team', 'Red Cards', 'Yellow Cards', 'Offsides', 'Fouls Conceded']]
the_biggest_offenders['assessment of violations'] = the_biggest_offenders['Red Cards'] + the_biggest_offenders['Yellow Cards'] + the_biggest_offenders['Offsides'] + the_biggest_offenders['Fouls Conceded']

the_biggest_offenders.sort_values('assessment of violations', ascending = False).head(5)

,Team,Red Cards,Yellow Cards,Offsides,Fouls Conceded,assessment of violations
7,Italy,0,16,16,89,121
13,Spain,0,11,19,83,113
10,Portugal,0,12,10,90,112
1,Czech Republic,0,7,8,73,88
0,Croatia,0,9,2,62,73

In [48]:
'''10
Команди, де % забитих м'ячів до кількості гравців, які зіграли, більше, ніж 50%'''

goalPlayer = pd.DataFrame()
goalPlayer = data.loc[:,['Team', 'Goals', 'Players Used']]
goalPlayer['%'] = goalPlayer['Goals']*100 / goalPlayer['Players Used']
goalPlayer.loc[(goalPlayer['%']>50)].sort_values('%', ascending = False)

       Team  Goals  Players Used          %
13    Spain     12            18  66.666667
5   Germany     10            17  58.823529